/node_modules
/public/hot
/public/storage
/storage/*.key
/tests/coverage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log

/.idea


# Javascript
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

resources/manifest.json
