openapi: 3.0.0
info:
  title: Catitionary API
  description: "猫の名前の自動生成を支援するCatitionaryのAPI"
  version: 0.1.0
servers:
  - url: "http://127.0.0.1:9001/api"
    description: "ローカル環境"
  - url: "http://127.0.0.1:4010"
    description: "PRISM"
paths:
  /names:
    get:
      summary: 名前取得
      description: 指定されたパターンに合致する名前の一覧を返す
      operationId: "getNames"
      tags:
        - names
      parameters:
        - name: cat_type
          in: query
          description: 猫の種類
          schema:
            $ref: "#/components/schemas/CatTypeId"
        - name: character
          in: query
          description: 特徴(長毛、どっしりなど)
          schema:
            $ref: "#/components/schemas/CharactericsTypeId"
        - name: name_type
          in: query
          description: 名前のタイプ(和風、洋風)
          schema:
            $ref: "#/components/schemas/NameType"
        - name: count
          in: query
          description: 件数
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: パターンに合致した名前
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - "大吉"
    post:
      summary: 名前提案
      description: 名前の案を提出する
      operationId: "submitNames"
      tags:
        - names
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/NameIdea"
      responses:
        "200":
          description: 成功

  /names/patterns:
    post:
      summary: 名前パターン提案
      description: 名前のパターンを提出する
      operationId: "submitNamePatterns"
      tags:
        - names
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/NamePatternIdea"
      responses:
        "200":
          description: 成功

  /cat/types:
    get:
      summary: 猫の種類一覧
      description: 猫の種類の一覧を返す
      tags:
        - types
      responses:
        "200":
          description: "猫の種類の一覧"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CatType"
              example:
                - id: "kijitora"
                  name: "キジトラ"
                - id: "kijishiro"
                  name: "キジシロ"
                - id: "hachiware"
                  name: "ハチワレ"

  /cat/characterics:
    get:
      summary: 猫の特徴一覧
      description: 猫の特徴の一覧を返す
      tags:
        - types
      responses:
        "200":
          description: "猫の特徴の一覧"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CharactericsType"
              example:
                - id: "long-hair"
                  name: "長毛"
                - id: "massive"
                  name: "どっしり"
                - id: "kinked-tail"
                  name: "カギしっぽ"

# /name/series -> シリーズを指定してその中から名前を返す()

components:
  schemas:
    CatTypeId:
      type: string
      description: 猫の種類のID
      example: "kijitora"
    CatType:
      type: object
      description: 猫の種類
      properties:
        id:
          $ref: "#/components/schemas/CatTypeId"
        name:
          type: string
    CharactericsTypeId:
      type: string
      description: 猫の特徴ID
      example: "long-hair"
    CharactericsType:
      type: object
      description: 猫の特徴
      properties:
        id:
          $ref: "#/components/schemas/CharactericsTypeId"
        name:
          type: string
    NameType:
      type: string
      enum:
        - "japanese"
        - "western"
    NameIdea:
      type: object
      description: "名前の案"
      properties:
        name:
          type: string
        types:
          type: array
          items:
            $ref: "#/components/schemas/CatTypeId"
        characters:
          type: array
          items:
            $ref: "#/components/schemas/CharactericsTypeId"
    NamePatternType:
      type: string
      description: |
        名前パターンのタイプ
        * prefix: 接頭辞
        * suffix: 接尾辞
      enum:
        - "suffix"
        - "prefix"
    NamePatternIdea:
      type: object
      description: "名前パターンの案"
      properties:
        pattern:
          type: string
        pattern_type:
          $ref: "#/components/schemas/NamePatternType"
        type:
          $ref: "#/components/schemas/CatTypeId"
        character:
          $ref: "#/components/schemas/CharactericsTypeId"

tags:
  - name: names
    description: 名前関連
  - name: types
    description: 種類関連
